# Grafana admin password
GRAFANA_PASSWORD=change_me

# Grafana Sync
GRAFANA_URL=http://localhost:3000
GRAFANA_USER=admin

# SSH keys (paths)
AWS_SSH_KEY=~/.ssh/aws_k3s
DEVLAB_SSH_KEY=~/.ssh/devops_lab

# Ansible
ANSIBLE_SSH_KEY=~/.ssh/devops_lab